
.hero-images {
    height: 200px;
    width: 100px;
  }
  .centered-text {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

.nav-col{
    color: #38d200;
}
.add-traveller{
  background-image: url('https://images4.alphacoders.com/150/150168.jpg');
  height:650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.background-trvelForm{
  position: fixed; /* This keeps the background fixed, so it doesn't scroll with the content */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* This places it behind the content */
  filter: blur(5px); /* Adjust the blur value as needed */
}
.background-imageTF {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This ensures the image covers the entire container */
}


